.fond1 {
    background:url("../image/1.jpg") no-repeat fixed;
    background-size: contain;
    height: 600px;
    position: relative;
}

.margen {
    padding-left: 10%;
    padding-right: 10%;
}

.colorwhite {
    color:#FFF;
}

.colors {
   
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight:600;
}

.ubicacion {
    color: #E62026;
}

.emenu:hover {
    background-color: #EC4141;
}

.emenu {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.barra {
    background-color: rgba(0, 0, 0, 0.330) ;
    font-weight:600;
}

.cinta1 {
    font-size: 50px;
    font-weight: bolder;
}

.abajo {
    position: absolute;
    bottom: 65px;
}

.fond2 {
    background: #EC4141;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.centrado {
    text-align: center;
}

.negrita {
    font-weight: bolder;
    font-size: 35px;
}
.subtitulos {
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border: 1px solid #FFF;
    padding: 3%;
}
.info {
    background-color: #FFF;
    padding: 6%;
    font-size: 12px;
}

.fond3 {
    background: #1C1C1C ;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.Tgris {
    color: #656565 ;
}
.espacio {
    padding-bottom: 13%;
}
.esp1 {
    padding-bottom: 3%;
}
.neg2 {
    font-weight: bolder;
    font-size: 20px;
}

.fond4 {
    background: #1a1818e5 ;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.esp2 {
    padding-top: 5%;
}

.boton {
    background-color: #EC4141;
    width: 123px;
    padding: 1%;
    text-align: center;
    box-shadow: 2px 2px 2px #942020;
    cursor: pointer;
}